<% layout("/layouts/boilerplate") %>
<body>
  <h3>All Listings</h3>
  <!-- <form method="GET" action="/listings/new.ejs">
        <button>Create New Listing</button>
    </form> -->
  <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
    <% for(let listing of allListings){ %>
    <a class="listing-link" href="/listings/<%= listing._id %>">
      <div class="card col listing-card">
        <img
          src="<%= (listing.image && typeof listing.image === 'object' && listing.image.url)
                        ? listing.image.url
                        : (listing.image && typeof listing.image === 'string' ? listing.image : '/css/no-photo.png') %>"
          class="card-img-top"
          alt="listing_image"
          style="height: 20rem"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <% const priceDisplay = (listing.price != null) ?
          listing.price.toLocaleString("en-IN") : "N/A"; %>
          <p class="card-text">
            <b><%= listing.title %></b> <br />
            &#8377;
            <%= priceDisplay %>
            / night <br />
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</body>
